.card {
    background-color: #575656;
   color: white;
    border-radius: 10px;
    position: relative;
    height: 220px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: inset rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    transition: all 0.4s ease-in-out;
    border: 50px solid;
    /* outline: 5px solid white; */
    /* outline-offset: -45px; */
    border-image: repeating-conic-gradient(
        from 45deg at 25% 25%,
        #81315d 0deg 10deg,
        #d82347 10deg 20deg,
        #fd953b 20deg 30deg,
        #fe672c 30deg 40deg,
        #ff292c 40deg 50deg,
        #29cdff 50deg 60deg,
        #2d29ff 60deg 70deg
    )9;
    /* border-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB); */
    /* border-image-slice: 1; */
}

.card:hover {
    transform: scale(1.1);
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    opacity: 1;
    filter: brightness(1) grayscale(0%) blur(0);
    border-image: repeating-linear-gradient(
        45deg,
        #47d3ff,
        #47d3ff 16px,
        #474bff 16px,
        #474bff 30px
    )40;
    background-color: #ffffffec;
    color: black;
}

.card:hover~.card:hover {
    filter: brightness(1) grayscale(0%) blur(0);
    opacity: 1;
}

.card:hover~.card {
    opacity: 0.5;
    filter: brightness(0.5) grayscale(100%) blur(0.9px);
}

.card:has(+ * :hover),
.card:has(+ * + * :hover),
.card:has(+ * + * + * :hover),
.card:has(+ * + * + * + * :hover),
.card:has(+ * + * + * + * + * :hover),
.card:has(+ * + * + * + * + * + * :hover),
.card:has(+ * + * + * + * + * + * + * :hover) {
    opacity: 0.5;
    filter: brightness(0.5) grayscale(100%) blur(0.9px);
}

/* .card:hover {
    transform: scale(1.1);
    box-shadow:  rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    filter: brightness(1);
}

.card:has(+ * + * + * + * + * + * + *:hover),
.card:hover + * + * + * + * + * + * + * {
    filter: brightness(0.6);
} */
.cardName {
    font-size: 24px;
    font-weight: bold;
}

.carddescription {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: justify;
    hyphens: auto;
    font-weight: 500;
}

.cardCounter {
    font-size: 16px;
    margin-top: 0px;
}

.cardCounter>span {
    font-size: 2rem;
}


@media (max-width: 600px) {
    .card {
        padding: 15px;
        margin: 10px;
    }

    .cardName {
        font-size: 20px;
    }

    .carddescription {
        font-size: 14px;
    }
}
