@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
/* App.css */
 .app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #1b1b1b;
  animation: rotate 4s linear infinite;
  overflow: hidden;
}

.hero{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  border-radius: 20px;
  width: 90%;
  background-color: #1b1b1b;
  box-shadow: inset 1px 1px 5px white;
  flex-wrap: wrap;
  overflow-y: scroll;
}
@media screen and (max-width:500px) {
  .hero{
    padding: 100px 0;
  }
}

/* CSS */
.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 16px; /* Smaller font size */
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px; /* Reduced min-width */
  padding: 2px; /* Reduced padding */
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}


.button-64 span {
  font-family: 'Protest Revolution';
  background-color: rgb(5, 6, 45);
  padding: 10px 16px; /* Reduced inner padding */
  border-radius: 6px;
  width: 100%;
  height: 47%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 18px; /* Slightly larger font size on larger screens */
    min-width: 120px; /* Reduced min-width for larger screens */
  }
}
